.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    height: 55px;
    border-bottom: 1px solid #e6e6eb;
    // flex-wrap: wrap;
}

.navbar-left {
    justify-self: left;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-right {
    justify-self: right;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 100px;
}

.nav-element {
    display: flex;
    align-content: center;
}

.navbar-button {
    height: 28px;
    width: 69px;
    background: white;
    cursor: pointer;
    padding: 6px 16px;
    border: 1px solid #ccccd1;
    border-radius: 4px;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    font-family: $strava-fonts;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-button:hover {
    background-color: $button-hover-grey;
}

button:hover {
    background-color: $button-hover-grey;
}

#non-splash:hover {
    color: $button-text-hover-black;
}

#splash {
    color: $orange;
}

#non-splash{
    color: $grey;
}


.full-height {
    height: 100%;
    width: 100%;
}

#logo {
    height: 34px;
    width: 400;
    // background-image: image-url("motiv.png");
    background-size: contain;
}

.logged-in-link {
    position: relative;
    font-family: $strava-fonts;
    color: black;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-justify: center;
    align-self: center;
    border-radius: 4px;
}

.is-active {
    border-radius: 4px;
    font-weight: bold;
    text-decoration-color: $orange;
    -moz-text-decoration-style: solid 2px;
}

.is-active::after {
    position: absolute;
    content: "";
    background: $orange;
    height: 3px;
    width: 100px;
    top: 31px;
    display: block;
}

