#map-show-container {
    width: 200px;
    height: 200px;
}

#show-map{
    width: 600px;
    height: 300px;
    margin-left: 100px;
}

#route-title {
    height: 170;
    font-size: 34px;
    font-family: $strava-fonts;
    text-align: left;
    width: 400px;
    // margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#route-map-holder {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#route-show-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0 0 0;
}

.rs-map-data-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px 0px 25px 0px;

}

.rs-map-data-item {
    font-family: $strava-fonts;
    font-size: 22px;
    color: #333333;
}

.rs-map-data-label {
    font-family: $strava-fonts;
    font-size: 12px;
    color: #666;
}

#rs-super-data-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;

}

#rs-top-container {
    display: flex;
    flex-direction: row;
    margin: 4px 0 0 100px;
    justify-content: flex-start;
    // align-content: center;
    align-items: flex-end;
}

.rs-route-button {
    margin: 34px 0px 20px 0px;
    height: 33px;
    width: 153px;
    cursor: pointer;
  
    border-radius: 4px;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#rs-delete-button {
    padding: 6px 16px;
}

#rs-top-nav {
    display: flex;
    margin: 0 0 10px 0;
}

#rs-save-button {
    background-color: #FC4C01;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

button {
    border: none;
}