// body, html {
//     height: 100vh;
// }


#signup-page {
    background-image: image-url("signup.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#signup-container {
    height: 630px;
    width: 400px;
    background-color: rgba(0,0,0,0.75);
    margin: 60px 0px 0px 0px;
}

#signup-header {
    font-size: 34px;
    height: 125px;
    font-family: $strava-fonts;
    color: white;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
    text-align: center;
    line-height: 41px;
}

#signup-or-divider {
    height: 50px;
    color: white;
    font-family: $strava-fonts;
    font-size: 17px;
    margin: 20px 0 -15px 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

#signup-or-divider > p {
    text-align: center;
    margin: 2px 0 0 0;

}

#signup-main {
    display: flex;
    flex-direction: column;
}

#signup-form {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.signup-input {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    align-self: center;
    font-family: $strava-fonts;
    padding: 15px;
    box-sizing: border-box;
    color: #e6e3e3;
    background: rgba(0,0,0,0.5);
    border: 1px solid #666;
}

.signup-input:focus {
    background: #E1E1E3;
    color: 	#4e4d4d;
}

.signup-form-item {
    display:flex;
    align-content: center;
}

.signup-button {
    height: 40px;
    width: 301px;
    background: white;
    cursor: pointer;
    margin: 19px 0px 0px 0px;
    border: 1px solid #ccccd1;
    border-radius: 4px;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#signup-submit-button {
    background-color: #FC4C01;
    color: white;
    margin: 4px 0px 0px 0px;
    padding: 10px;
}

#signup-demo-button {
    color: white;
    background-color: #3b5998;
    font-weight: bold;
    border: 0px;
    margin: 50px 0 0 0;
}

.signup-disclaimer-text {
    line-height: 1.71em;
    color: #99999e;
    font-family: $strava-fonts;
    margin-top: -22px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.disclaimer-link {
    text-decoration: none;
    color: #e7e7ec;
}

.disclaimer-link:visited {
    text-decoration: none;
}