#header-text {
    font-size: 34px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, 'Segoe UI', 
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
    text-align: center;
    font-weight: bold;
    margin: 90px 0px 90px 0px;
    
}

#phone-image {
    height: 397px;
    width: 373px;
}

.text-container {
    display:flex;
    justify-content: center;
    align-content: center;
}